<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        var socket = io("http://localhost:3000/")
        socket.on("Server-sent-data",function(data){
            $("#server").append(data+"\n");
        })
        $(document).ready(function(){
            // alert("Hello jquery");
            $("#userA").click(function () {
                socket.emit("Client-sent-data","Hello Server");
              })

        });
    </script>
</head>
<body>
<div> <button id="userA">click send to server</button></div>
<h4 id="server"></h4>
</body>
</html>